img {
    align-self: center;
}

.card-img {
    width: 30% !important;
    max-height: 300px;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card {
    flex-direction: row;
    align-items: center;
}
